doctype html
html
  head
    title= title
    meta(http-equiv='refresh', content=time)
    link(rel='stylesheet', href='/public/css/style.css')
  body
    block content
      center
        p(class='greeting') Life of the Party
        div
          -if(type == "Youtube" || "Soundcloud")
            iframe(src=response, frameborder='0', display:none)

