extends layout

block content
  center
    //img(src='./public/playlstr_md_sm.jpg', id='lg_logo')


    p(class='greeting') Queue up for the Party

    form(method='post')
      div
        input(type='text', maxlength="20", name='search')
        input(type='submit', value='search')
    form(method='post')