extends layout

block content
  center
    //img(src='/img/playlstr_md_sm.jpg', id='lg_logo')
    
    form(method='post')
      div
        input(type='text', maxlength="20", name='search')
        input(type='submit', value='search')
    form(method='post')